<div class="row mb-3">
  <div class="col-md-6">
    <div
      class="card"
      [ngClass]="{
        'bg-secondary text-black': todo.done === true,
        'bg-white text-black': todo.done === false
      }"
    >
      <div class="card-body">
        <h5 class="card-title">
          <span *ngIf="this.editMode === false">{{ todo.label }}</span>
          <input
            class="form-control"
            [(ngModel)]="titleInput"
            (keydown.enter)="updateTitle()"
            *ngIf="this.editMode === true"
            type="text"
          />
          <span class="mx-2" (click)="enterEditMode()">
            <a class="btn btn-secondary">Edit</a>
          </span>
        </h5>
        <span>{{ todo.createDate | datePipe : true }}</span>
      </div>
      <div
        (click)="updateTask()"
        class="card-action d-flex flex-row-reverse mb-2 mx-2"
      >
        <a class="btn btn-primary">Done</a>
      </div>
    </div>
  </div>
</div>
